@font-face {
    font-family: lato-regular;
    src: url(../fonts/Lato-Regular.ttf);
}
.lato-regular {
    font-family: lato-regular;
}

@font-face {
    font-family: lato-light;
    src: url(../fonts/Lato-Light.ttf);
}
.lato-light {
    font-family: lato-light;
}

@font-face {
    font-family: lobster;
    src: url(../fonts/Lobster-Regular.ttf);
}
.lobster {
    font-family: lobster;
}

@font-face {
    font-family: montserrat-reg;
    src: url(../fonts/Montserrat-Regular.ttf);
}
.montserrat-reg {
    font-family: montserrat-reg;
}

@font-face {
    font-family: neuropol;
    src: url(../fonts/neuropol.ttf);
}
.neuropol {
    font-family: neuropol;
}

@font-face {
    font-family: comfortaa;
    src: url(../fonts/Comfortaa-Medium.ttf);
}
.comfortaa {
    font-family: comfortaa;
}